body{
    display: flex;
    
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div {
    color: black;
}

header {
    color: black;
}

div.footer-copyright{
    color: black;
}
 input#content {
    font-size: 20px;
    color: black;
}

  label {
    font-size: 20px;
    color: black;
    padding-bottom: 10px;
}

header, main, footer {
      padding-left: 240px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

    .brand-logo {
        left: 50%;
    }
      
    
    
    h2{
        color: black;
    }
    
    .content-name{
        margin-bottom: 10px; 
    }


/***********************************Blog Post *****************************************************/

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title{
    margin-bottom: 5px;
    font-size: 40px;
    color: black;
    
}

.blog-post-meta{
   margin-bottom: 20px;
   color: black;
   font-style: italic;
   font-size: 20px;
}


