<!DOCTYPE html>
  <html>
    <head>
    
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">

    
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
    </head>

    <body class="white">
        <ul id="slide-out" class="side-nav fixed">
      <li><a href="index.html!">Home</a></li>
      <li><a href="admin.html">Admin</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
         
        <header>
            <nav class="grey">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Blog</a>
                    <ul class="right">
                        <li><a href="index.html">Home</a></li> 
                        <li><a href="admin.html">Admin</a></li>  
                     
                    </ul>
                   
  
                </div>
            </nav>
            
        </header>
        
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="center-align"> My Blog </h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        <div class="blog-post">
                        <h2 class="blog-post-title">My first Blog Post</h2> 
                        <p class="blog-post-meta">At by</p>
                        <div>my first blog content</div>   
                    </div>
                     </div>
                </div>  
            </div>
        </main>
        
        <footer class="page-footer black">
            <div class="container">
                <p><a href="#" >back to the top</a></p>
            </div>
            
            <div class="footer-copyright">
                <div class="container, black">
                    @2016 Juan Yepez 
                </div>
            </div>
        </footer>
      
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
       <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>  
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      
      <script id="blogs-template" type="text/xhandlebars-template">
        {{#each posts}}
                <div class="chip">
                <img src="imgs/rex.jpg" alt="Contact Person">
                Juan Yepez
            </div>
            <div class="blog-post">
                <h2 class="blog-post-title">{{title}}</h2>
                <p class="blog-post-meta">At {{format created}}  by {{authorEmail}}</p>
                <div>{{content}}</div>
            </div>
          
        {{/each}}
      </script>
    </body>
  </html>
        